#__slim_translate_button {
  padding: 0;
  margin: 0;
  border: none;
  background: #ffffff url("icons/logo-32.png") no-repeat;
  background-size: cover;
  border-radius: 0px;
  border: 1px solid #ececec;
  position: fixed;
  width: 25px;
  height: 25px;
}

#__slim_translate_button:hover {
  cursor: pointer;
  background-color: #ffffff !important;
}
#__slim_translate_button:active {
  background-color: #ffffff !important;
}
