#__st_button_area_button:hover {
  cursor: pointer;
  background-color: #ffffff !important;
}

#__st_button_area_button:active {
  background-color: #ffffff !important;
}

#__st_result_area .__st-link:hover {
  text-decoration: underline;
}
